.masthead {
    padding: 1rem 0;
    margin-top: -1.5rem;
    background-color: white;
    border-top: solid 1em white;
    color: black;
    text-align: center;
    position: fixed;
    width: 100%;
}

h1 {
    font-size: 5em;
    letter-spacing: .5em;
    font-family: 'Amatic SC', cursive;
}

h2 {
    font-size: 2.5em;
    font-family: 'Dancing Script', cursive;
    margin-top: -1em;
    text-shadow: 1px 1px #13D1C2;
}

.main {
    padding: 1rem 0.938rem 40rem;
    margin: 10 auto;
    /*min-width: 37.5rem;*/
    
    width: 100%;
    height: 100%;
    overflow: auto;
    background: white url(../images/dog.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Amatic SC', cursive;
    font-size: 1.5rem;
    border-radius: 1rem;
    padding: .5rem 1rem;
    letter-spacing: .15em;
    background-color: #13D1C2;
    text-decoration: none;
    outline: none;
    outline-style: none;
}

button.hover {
    outline: none;
    text-decoration: none;
}

.recipe {
    display: none;
    position: fixed;
    left: 10%;
    margin: 2rem auto;
    padding: 1rem;
    width: 75%;
    min-height: 2em;
    max-height: 20rem;
    border: 2px solid #13D1C2;
    border-radius: 1rem;
    overflow: scroll;
    background-color: white;
}

#recipeTitle {
    font-size: 2.5em;
    letter-spacing: .25em;
    font-family: 'Amatic SC', cursive;
    padding-bottom: .5em;
}

#ingredients {
    padding-bottom: .em;
}

p {
    font-size: 1.5em;
    font-family: 'Dancing Script', cursive;
}

ul {
    list-style-type: none;
}

@media only screen and (max-width: 650px) {
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 2.75em;
        padding-top: .5em;
    }
    button {
        font-size: 2.5rem;
        border-radius: .5rem;
        padding: .25rem .5rem;
    }
}
